/* custom.css */
/*font-family: 'Vast Shadow', cursive;*/
/*font-family: 'Raleway Dots', cursive;*/

body {
width: 1024px;
text-align: center;
}

/*BANNER START*/
#bannertitle {
background-image: latteimages/coffee.jpg;
max-height: 180px;
max-width: 800px;
border: 2px solid black;
}

#bannertitle h1 { 
font-size: 45px;
font-family: 'Raleway Dots', cursive;
text-align: inherit;
}
/*BANNER END*/

#wrapper {
justify-content: center;
width: 1024px; 
text-align: center;
}
#aligndis {
justify-content: center;
text-align: center;   
}

/*NAV START*/
#TextButtons li {
float: left;
align-items: center;
font-size:40px;
list-style-type: none;
display:inline-block;
box-shadow: 0px 6px 0px 0px #333;
height:20px; 
width:30px;
padding-top: -10px;
padding-bottom: 30px;
padding-left: 20px;
padding-right: 20px;
background: white;
color: #48D1CC;
text-align: center;
line-height:60px;
margin-bottom: 20px;
font-family: 'Raleway Dots', cursive;
}

.button {
float:left;
text-align: center;
border: 1px dotted black;
list-style-type: none;
display: inline-block;
font-family: 'Raleway Dots', cursive;
box-shadow: 0px 6px 0px 0px #333;
height:20px; 
width: 60px;
padding-top: -10px;
padding-bottom: 30px;
padding-left: 20px;
padding-right: 20px;
background: white;
color: #48D1CC;
font-size:18px;
text-align: center;
line-height:60px;
margin-bottom: 20px;
margin-left: 1px;
margin-right: 1px;
}

.home {
align-items: center;
list-style-type: none;
}

p {
text-align: center;
font-family: 'Raleway Dots', cursive;
font-size: 40px; 
margin-top: -9px;
text-align: center;
}
/*NAV END*/

/*CONTENT BOX START*/
.divs {
text-align: center;
max-width: 800px;
object-position: center;
align-items: center;
justify-content: center;
}

img { 
text-align: center;
border: 3px solid white;  
max-width: 800px;
}
/*CONTENT BOX END*/


/*FOOTER START*/
footer {
text-align: center;
font-family: 'Raleway Dots', cursive;
height: 185px;
width: 1011px;
font-size:14px;
text-align: right;
margin-top:140px;
}

h3 {
font-family: 'Raleway Dots', cursive;
margin-top:-70px;
text-indent: 50px;   
}
/*FOOTER END*/

    
/*NAV BUTTON ANIMATION START*/

.button.home{ margin-top:0px;}
.button:hover { cursor: pointer; }
.button:active { cursor: pointer; transform:translateY(6px); box-shadow: 0px 0px 0px 0px #333; }
@keyframes click {
from { transform:scale(1);}
to { transform:scale(1); }
    
/*NAV BUTTON ANIMATION END*/
    
